.parallax {
  background-image: url("https://i.gifer.com/DgJM.gif");
  height: 1200px;
  margin-top: 300px;
  background-position: center;
  background-size: contain;
}


@media (max-width: 768px) {
  .parallax {
    height: 300px; /* Adjust the height for mobile devices */
    background-attachment: scroll; /* Use scroll instead of fixed on mobile devices */
  }
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.bggreen {
  position: relative;
  top: -210%;
  left: 62%;
  z-index: 10;
}

.contpos {
  position: relative;
  z-index: 20;
}

.fooot {
  position: sticky;
  left: 50%;
  width: 100%;
  height: 120px;
}

